* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Balsamiq Sans', cursive;
}

$primary-color: rgb(121, 113, 113);
$secondary-color: rgb(202, 39, 148);

// HEADER START
.header-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  .logo-img {
    width: 200px;
  }
  .nav-icon {
    width: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
    .nav-icon-stripe {
      border: 2px solid $primary-color;
      border-radius: 1rem;
    }
  }
}

// HEADER END

// FIRST SECTION START

.launching {
  overflow-x: hidden;
  position: relative;
}

.launching-wrapper {
  display: grid;
  gap: 1.5rem;
  width: 18rem;
  margin: 0 2rem;
  padding: 3rem 0;
}

.pink-color-text {
  color: $secondary-color;
}

.launch-heading {
  font-size: 16px;
  letter-spacing: 0.025rem;
}

.nft-heading {
  font-size: 52px;
  font-weight: bold;
  line-height: 3rem;
}

.info-text {
  font-size: 22px;
  color: $primary-color;
}

.signup-btn {
  font-size: 18px;
  font-weight: 700;
  width: 9rem;
  padding: 1rem 0;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 5rem;
  border: 4px solid transparent;
}

.nft-graphic {
  position: absolute;
  width: 25rem;
  left: 53%;
  top: -8%;
}

// FIRST SECTION END

// SECOND SECTION START

.free-nft-wrapper {
  background-image: url(assets/background.svg);
  background-position: center;
  background-size: cover;
  padding: 10rem 2rem 0;
}

.free-nft-heading {
  font-size: 36px;
  padding-bottom: 1rem;
}

.free-nft-text {
  font-size: 18px;
  line-height: 1.5rem;
  padding-bottom: 1.5rem;
}

// SECOND SECTION END

// THIRD SECTION START

.fourth-spons {
  display: none;
}

.sponsors-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  overflow: hidden;
  padding: 3rem 2rem;
}

.first-spons {
  width: 138px;
  overflow: hidden;
}

// THIRD SECTION END

// FOURTH SECTION START

.rare-nft-wrapper {
  padding: 0rem 0rem 4rem 2rem;
  overflow: hidden;
  border-bottom: 1px solid $primary-color;
}

.bid-word {
  text-decoration: underline;
  color: $primary-color;
}

.auction-text {
  margin-right: 2rem;
}

.nft-card-wrapper {
  display: flex;
  gap: 2rem;
}

.card {
  min-width: 18rem;
}

.rare-nft-img {
  width: 100%;
  display: block;
}

.card-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem 0;
  padding: 1rem;
  background-color: lightgray;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.eth-img {
  height: 12px;
}

.price {
  display: inline;
}

.align-right {
  text-align: right;
}

.card-bottom p {
  font-size: 10px;
  color: $primary-color;
}

.card-bottom p:first-child {
  color: orange;
}

.card-bottom .bolded-card-bot {
  font-size: 14px;
  color: black;
}

// FOURTH SECTION END

// FIVETH SECTION START

.upsell-footer {
  overflow: hidden;
  border-bottom: 1px solid $primary-color;
}

.upsell-footer-wrapper {
  padding-right: 4.75rem;
}

.nft-graphic-upsell {
  position: absolute;
  width: 10rem;
  left: 65%;
  top: 25%;
}

.upsell-footer-middle-line {
  width: 100%;
  border-bottom: 1px solid $primary-color;
  position: absolute;
  top: 50%;
}

// FIVETH SECTION END
